<nav class = 'sticky-top my-nav-css'>
    <h2 id = 'matt'>Matt Reisdorf</h2>
    <ul class = 'nav justify-content-end my-nav-list-css'>
        <li class = 'nav-item'>
            <a class = 'nav-link nav-links-css' href = '#home'>Home</a>
        </li>
        <li class = 'nav-item'>
            <a class = 'nav-link nav-links-css' href = '#'>Experience</a>
        </li>
        <li class = 'nav-item'>
            <a class = 'nav-link nav-links-css' href = '#'>Projects</a>
        </li>
        <li class = 'nav-item'>
            <a class = 'nav-link nav-links-css' href = '/files/Resume.pdf'>Resume</a>
        </li>
        <li class = 'nav-item'>
            <a class = 'nav-link nav-links-css' href = '#'>TEST</a>
        </li>
    </ul>
</nav>

<main>
    <div class = 'container'>
        <div class = 'row row-margin' id = 'home'>
            <div class = 'col-sm-12 col-md-4'>
                <div >
                    <div>
                        <img id = 'headshot' src = './files/images/headshot-cropped.png' alt = 'headshot'>
                        <div class = 'socials-container'>
                            <p>PLACEHOLDER</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'col-sm-12 col-md-8'>
                <div class = 'row'>
                    <div class = 'col-sm-4'>
                        <p id = 'biography-title'>Biography</p>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'col-sm-12'>
                        <p id = 'biography-paragraph'>
                            I am a current student of the Full Stack Development Bootcamp at Northwestern University graduating in June 2021,
                            as well as an analyst and developer at Maven Wave through their IGNITE Development Program. Prior to this, 
                            I received a Bachelor of Applied Science in Physics with a concentration in digital electronics, as well as
                            a mathematics minor, from Appalachian State University.
                        </p>
                        <p id = 'biography-paragraph'>
                            Eventually, I want to leverage my physics and mathematics background to move into the machine learning field.
                        </p>
                        <p id = 'biography-paragraph'>
                            Outside of my current work and studies, I spend my time making music with a couple local producers,
                            participating in various board sports, and exploring the urban jungle of Chicago, IL. 
                        </p>
                    </div>
                </div>
                {{!-- <div class = 'centered placeholder-box'> About Me </div> --}}
            </div>
        </div>

        <div class = 'row' id = 'experience'>
            <div class = 'col-sm-12 col-md-4'>
                PLACEHOLDER
            </div>
            <div class = 'col-sm-12 col-md-8'>
                PLACEHOLDER
            </div>
        </div>
    </div>

</main>