/* UNIVERSAL STYLING ??? */
body {
    background-color: #25262D;
    font-family: 'Didact Gothic', sans-serif;
    color: white; /* Remove this later */
}

p::selection,
p::-moz-selection {
    background: #CCF5E3;
    color: black;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}

.really-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 15vh;
}

/* NAV STYLING */
#matt {
    position: absolute;
    padding-left: 80px;
    /* font-family: 'Didact Gothic', sans-serif; */
    color: black; /* Remove after taking out body color */
}

.my-nav-css {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 10px;
}

.my-nav-list-css{
    padding-right: 40px;
}

.nav-links-css {
    /* font-family: 'Didact Gothic', sans-serif; */
    color: black;
}

.nav-links-css:hover {
    color: #666669;
}



/* ABOUT SECTION STYLING */
.row-margin {
    margin-top: 50px;
}

.placeholder-box {
    background-color: red;
}

#biography-title {
    /* font-family: 'Didact Gothic', sans-serif; */
    font-size:2em;
    color: #FFECD6;
    padding-left: 3px;
}

#biography-paragraph {
    /* font-family: 'Didact Gothic', sans-serif; */
    color: #DDDEE3;
}

#headshot{
    border-radius: 50%;
    margin-top: 67px;
}

.socials-container {
    /* background-color: red; */
    margin-right: 132px;
    margin-top: 25px;
}

.headshot-container {
    margin-top: -50px;
}

#email-img {
    margin-top: 4px;
    margin-left: 16px;
    width: 25%;
    height: auto;
}

#email-img:hover {
    transform: scale(1.1);
}

#linked-in-img {
    margin-left: 15px;
}

#linked-in-img:hover {
    transform: scale(1.1);
}

#github-img {
    margin-left: 15px;
}

#github-img:hover {
    /* transition: transform .25s ease; */
    transform: scale(1.1);
}

#sc-img {
    margin-left: 15px;
}

#sc-img:hover {
    /* transition: transform .25s ease; */
    transform: scale(1.1);
}

#steam-img {
    margin-left: 50px;
    margin-top: 10px;
    width: 22%;
    height: auto;
}

#steam-img:hover {
    transform: scale(1.1);
}


/* EXPERIENCE SECTION STYLING */

#experience {
    margin-top: 85px;
}

#experience-title {
    font-size:2em;
    color: #FFECD6;
}

.lang-text {
    margin-top: 10px;
    color: #FFECD6;
    font-size: 1.2em;
}

.row-margin-2 {
    margin-top: 5px;
}





/* PROJECTS SECTION STYLING */
#projects{
    margin-top: 85px;
}

#projects-title {
    font-size: 2em;
    color: #FFECD6;
}

.card-background {
    background-color: #373943;
}

#unify {
    margin-top:5px;
    margin-bottom: 2px;
    color:#FFECD6;
}

#unify-top {
    padding-top: 45px;
}

#unify-bottom {
    padding-bottom: 45px;
}

#reddit {
    margin-top:5px;
    margin-bottom: 2px;
    color:#FFECD6;
}

#python {
    margin-top: 76px;
    margin-bottom: 76px;
}

#scaled {
    margin-top:5px;
    margin-bottom: 2px;
    color:#FFECD6;
}

#repo-link {
    color: #FFECD6;
}


/* CONTACTS SECTION STYLING */
#contact{
    margin-top: 85px;
}

#contact-title {
    font-size: 2em;
    color: #FFECD6;
}


.footer {
    margin-bottom: -16px;
    background-color: #121316;
}



@media screen and (max-width: 1200px) and (min-width: 992px) {
    .socials-container {
        margin-right: 73px;
    }

    #unify-top {
        padding-top: 56px;
    }

    #unify-bottom {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .socials-container {
        margin-right: -7px;
    }

    #unify-top {
        padding-top: 68px;
    }

    #unify-bottom {
        padding-bottom: 68px;
    }
}

@media screen and (max-width: 767px) {
    .socials-container {
        margin-right: 0px;
        padding-left: 84px;
    }

    #unify-top {
        padding-top: 0px;
    }

    #unify-bottom {
        padding-bottom: 0px;
    }

    #python {
        margin: 0px;
    }

    .proj-container {
        margin-bottom: 10px;
    }

    #headshot {
        margin-left: 153px;
    }

    #steam-img{
        width: 11.7%;
        height: auto;
        margin-left: 15px;
        margin-top: 0px;
    }

    #email-img {
        width: 11.7%;
        height: auto;
    }
}